/.idea/.idea.DemoAutofac/.idea/.gitignore
/.idea/.idea.DemoAutofac/.idea/encodings.xml
/.idea/.idea.DemoAutofac/.idea/misc.xml
/.idea/.idea.DemoAutofac/.idea/indexLayout.xml
/.idea/.idea.DemoAutofac/riderModule.iml
/.idea/.idea.DemoAutofac/.idea/vcs.xml
